<a href="https://colab.research.google.com/github/chaitannyanaidu/ML-MODEL/blob/main/advertising.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing the required libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#reading the dataset

In [5]:
data = pd.read_csv('/content/ad.csv')

In [6]:
train = data
train

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,27-03-2016 00:53,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,04-04-2016 01:39,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,13-03-2016 20:35,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,10-01-2016 02:31,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,03-06-2016 03:36,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,11-02-2016 21:49,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,22-04-2016 02:07,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,01-02-2016 17:24,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,24-03-2016 02:35,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,03-06-2016 21:43,1

In [ ]:
#checking for null values(false-no null values,true-null)

In [7]:
train.isnull()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False

In [ ]:
# dropping the columns which are not nessasary to make the predictions

In [10]:
train.drop(['City','Country','Ad Topic Line'],axis=1,inplace=True)

In [11]:
train

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,0,27-03-2016 00:53,0
1,80.23,31,68441.85,193.77,1,04-04-2016 01:39,0
2,69.47,26,59785.94,236.50,0,13-03-2016 20:35,0
3,74.15,29,54806.18,245.89,1,10-01-2016 02:31,0
4,68.37,35,73889.99,225.58,0,03-06-2016 03:36,0
...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,1,11-02-2016 21:49,1
996,51.30,45,67782.17,134.42,1,22-04-2016 02:07,1
997,51.63,51,42415.72,120.37,1,01-02-2016 17:24,1
998,55.55,19,41920.79,187.95,0,24-03-2016 02:35,0
999,45.01,26,29875.80,178.35,0,03-06-2016 21:43,1

In [ ]:
#importing train_test_split from sklearn

In [12]:
from sklearn.model_selection import train_test_split

In [15]:
print(train.columns)

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Male', 'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [ ]:
#assigning the variables

In [16]:
X = train[['Daily Time Spent on Site', 'Age', 'Area Income', 'Daily Internet Usage','Male', 'Timestamp']]
y = train['Clicked on Ad']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [ ]:
#import logistic regression to predict using only binary values

In [18]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#initializing a variable to logistic regression

In [19]:
lm = LogisticRegression()

In [21]:
X_train.drop('Timestamp', axis=1, inplace=True)
X_test.drop('Timestamp', axis=1, inplace=True)

In [ ]:
#fitting the datasets and predicting the values

In [22]:
lm.fit(X_train,y_train)

LogisticRegression()

In [30]:
predictions=lm.predict(X_test)

In [ ]:
# 1-yes and 0-no

In [31]:
predictions

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0])

In [ ]:
#checking the accuracy of our model

In [34]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)

# Print the accuracy score
print("Accuracy:", accuracy)

Accuracy: 0.9266666666666666